/* shared styles */
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.text-light-gray {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  margin: 2rem 0;
}

.btn-primary {
  border: none;
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 3rem;
}

/* header related styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}

nav li a {
  text-decoration: none;
  color: #424242;
}

/* banner related styles */
.banner {
  margin-top: 100px;
}
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}


.banner-img {
  max-width: 100%;
}
/* main section styles */
main {
  max-width: 1440px;
  margin: 70px auto;
}

.teams-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 30px;
}

.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.teams-content {
  padding: 0 70px;
}
.teams-title {
  font-size: 45px;
}

.quick-list {
  color: #727272;
  font-weight: 500;
}

.text-features {
  color: #ff900e;
  font-weight: 700;
}

.teams-description{
  margin: 1.5rem 0;
}

/* responsive styles */

/* sm devices */
@media screen and (max-width: 576px) {
  header {
    padding: 10px;
  }

  nav, .teams-container {
    flex-direction: column;
  }

  nav > ul {
    /* flex-direction: column; */
    margin-top: 50px;
  }
  .teams-img-container{
    grid-template-columns: 1fr;
  }
  .teams-content {
    padding: 0 20px;
  }
}

/* md devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
  nav {
    flex-direction: column;
  }
  header {
    padding: 50px;
  }

  nav > ul {
    /* flex-direction: column; */
    margin-top: 50px;
  }

  .teams-container{
    flex-direction: column-reverse;
  }
}
